.card_wrapper {
  list-style-type: none;
  text-decoration: none;
}
.card {
  width: 230px;
  height: 230px;
  background: white;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card:hover {
  background: #FFCE10;
  transition: 0.5s;
}

.card img {
  width: 200px;
}
.card h3 {
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
  color: rgb(4, 4, 66);
}