.header {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  width: 100%;
  background: #01273a;
}

.header_logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.header_logo h1 {
  margin: 0 30px;
  color: white;
}

.header_wrapper {
  width: 50%;
}
.header_wrapper button {
  margin: 0 30px;
}
.active {
  display: flex;
  justify-content: end;
}
.disabled {
  display: flex;
  align-items: center;
}
.header__search {
  margin: 0 10px;
  height: 30px;
}

.header__search input {
  border: none;
  height: 100%;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 8px;
}

.header__search button {
  height: 32px;
  background: #FFCE10;
  margin: 0;
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 0px 15px;
}

.header__sort {
  margin: 0 10px;
}
@media screen and (max-width: 715px) {
  .header_logo {
    display: none;
  }
  .header_wrapper {
    width: 100%;
    margin: 0 20px;
  }
}
@media screen and (max-width: 355px) {
  .header__sort :global(.ant-select) {
    width: 80px !important;
  }
}