@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Carlito:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  margin: 0;
}

.app {
  background: #E5EBEF;
  min-height: calc(100vh - 100px);
}
* {
  font-family: 'Alkatra', cursive;
  font-family: 'Carlito', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.app_content__inner {
  /* padding-top: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.app_content__pagination {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  color: white;
}